@import "bootstrap-sprockets";

@import "bootstrap";

@import "font-awesome";


body { padding-bottom: 70px;
}


footer {
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #eaeaea;
  color: black;
  text-align: center;
}

#notice {
  color: green;
}

#error_explanation {
  #width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 16px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 16px;
    list-style: square;
  }
}



.center {
  text-align: center;
}

.table tbody > tr > td.vert-aligned {
  vertical-align: middle;
}

/*
.center {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}*/


.center_div{
  margin: 0 auto;
  /*width:30%  value of your choice which suits your alignment */
  width:300px;
}